@import 'tailwindcss';

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.menu-web {
  display: inline-block;
}
@media screen and (max-width: 998px) {
  .menu-mobile {
    position: absolute;
    top: 5rem;
    left: 0rem;
    width: 100%;
    
  }
  .menu-web {
    display: none;
  }
}
